---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
				new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-WWGKGHP8');</script>
		<!-- End Google Tag Manager -->
		<meta name="title" content="Tu clave segura">
		<meta name="description" content="Genera contrase単as aleatorias al instante, una herramienta gratuita para mejorar tu seguridad en la red.">
		<meta name="keywords" content="contrase単a, generar contrase単a, password, herramienta gratuita, tuclave, generador de contrase単as">
		<meta name="robots" content="index, follow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="language" content="Spanish">
		<meta name="viewport" content="width=device-width" />
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
	</head>
	<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWGKGHP8"
					  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
		<slot />
	</body>
</html>
<style is:global>

	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}

	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 1.2rem;
		line-height: 1.6;
	}

	p {
		padding: 0 0 1rem 0;
	}

	ul, li {
		list-style:disc;
		padding: 0 0 0.5rem 0;
		margin: 0;
	}

	h3 {
		font-size: 2rem;
		padding: 1rem 0;
	}

</style>
