---
import GitHubIcon from "./icons/GitHubIcon.astro";

const date = new Date().getFullYear();
---

<div class="flex justify-center items-center gap-3 mt-8 mb-2">
    <a>tuclave.es - {date}</a>
    <a href="https://github.com/ctiry01/tuclave" target="_blank">
        <GitHubIcon size={2} color="white"/>
    </a>
</div>
