<div class="w-full mt-10">
    <h3>Consejos y buenas prácticas:</h3>
    <ul class="list-disc pl-6">
        <li>No repitas nunca la misma contraseña.</li>
        <li>Intenta usar distintos caracteres, mayúsculas, minúsculas, números...</li>
        <li>Utiliza siempre que puedas una longitud mínima de 8 caracteres.</li>
        <li>No utilices palabras reales, aunque éstas estén escritas al revés.</li>
        <li>Las contraseñas más utilizadas, suelen ser patrones de teclado como por ejemplo: qwerty, asdf...</li>
        <li>Te reconemndamos utilizar un gestor de contraseñas como&nbsp;
            <a class="underline" target="_blank" href="https://bitwarden.com/">BitWarden, </a>
            <a class="underline" target="_blank" href="https://www.lastpass.com">Lastpass, </a>
            <a class="underline" target="_blank" href="https://1password.com">1Password, </a>
            <a class="underline" target="_blank" href="https://keepass.info">Keepass... </a>
            &nbsp; para almacenar tus claves.
        </li>
    </ul>
    <h3 class="mt-5">Sobre nosotros:</h3>
    <p><a class="underline" href="/">Tuclave.es</a> es una web totalmente gratuita pensada para el usuario que necesita generear una contraseña
        segura y manera rápida.</p>
    <p>Nuestras contraseñas, utilizan metodos aleatorios para generar las claves en función de la configuración
        que solicite previamente el usuario en cuanto a longitud y tipos de caracteres.</p>
    <p>Os recordamos que uno de los principales motivos de hackeo de cuentas o servicios, es a causa de repetir la misma
        contraseña en distintos sitios y esta probablemente se lleve usando desde hace años atrás. Si en uno de
        los sitios web ha habido una vulnerabilidad y los atacantes roban la contraseña, simplemente
        usan la misma para acceder al resto de servicios. También, un motivo muy común de hackeo de
        contraseñas, es usar patrones directamente relacionados con el usuario como por ejemplo el número de
        dni, fecha de cumpleaños, hijos.. Patrones altamente inseguros. Por estos motivos, en <a class="underline" href="/">tuclave.es</a> de
        manera gratuita queremos ayudar a proteger y aconsejar a los usuarios.</p>
    <p>Las claves generadas son totalmente aleatorias y <b>no se guarda ningún tipo de información</b></p>
    <p>Esta web és solo una ayuda para crear claves seguras. En ningún caso <a class="underline" href="/">tuclave.es</a> se hace responsable sobre
        posibles consecuencias de usar una clave aleatoria generada en este mismo sitio.</p>
    <p>Esta web ha sido creada para que la gente la pueda usar de manera gratuita, cualquier duda, pregunta,
        propuestas de mejora o soporte se pueden poner en contacto en la dirección de correo <a href="mailto:info@tuclave.es" target="_blank">info@tuclave.es</a></p>
</div>